name: Lambda Typescript
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 24
      - run: npm run build
  deploy-dev:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo "Deploy to dev"
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Deploy to Lambda
        uses: aws-actions/aws-lambda-deploy@v1.1.0
        with:
          function-name: dev-lambda-ts
          code-artifacts-dir: ./dist
          handler: handler.handler
          runtime: nodejs22.x
